* {
    box-sizing: border-box;
}
.cabezal{
    background-color: rgb(146, 139, 255);
    width: 100%;
    height: 50px;
}
main{
    margin: 4px;
    padding: 4px;
    background-color: rgb(180, 180, 180);
    height: 100%;
}
.piezal{
    background-color: rgb(214, 152, 255);
    width: 100%;
    height: 50px;
}